.container {
    padding-top: 70px;
}

.search__table--margin {
    margin-top: 20px;
}

.form__button--margin {
    margin-top: 20px;
}

.form__button--padding {
    padding-right: 30px;
    padding-left: 30px;
}

.table__button--margin {
    margin-right: 10px;
}

.checkbox--height {
	height:34px;
	display: flex;
	align-items: center;
}

.border {
	border: medium solid #ff00ff;
}

.print__block--magin {
	margin-top: 100px;
}